@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

caption {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    
}

th {
    background-color: grey;
    color: white;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}

.semcor {
    background-color: white;
    color: black;
}

td {
    text-align: center;
}