@charset "UTF-8";


body{
    background-color: lightgoldenrodyellow; font-family: Arial, Helvetica, sans-serif; font-size: 20px ;
}
h1{
    color:  darkgoldenrod rgb(171, 5, 204); background-color: lightseagreen;
}
h2{
    color: rgba(0, 161, 13, 0.842);
}
p{
    text-align: justify;
}